html {
	margin: 0;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: black;
	font-family: monospace;
}

p {
	font-size: .5vw;
}

.border{
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-width: 1.5px;
	border-color: white;
	border-style: solid;
	border-radius: 4px;

}

#borderO {
	width: 98%;
	height: 94%;
}

#borderI {
	width: 94%;
	height: 90%;
}

.window{
	position: absolute;
	margin: auto;
	border-width: 1.5px;
	border-color: white;
	border-style: solid;
	border-radius: 4px;
	color: white;
	text-align: center;
}

#window1 {

	top: 10%;
	left: 10%;
	width: 8%;
	height: 20%;

}

#window2 {
	top: 10%;
	left: 20%;
	width: 17%;
	height: 20%;
}

#window3 {
	top: 32%;
	left: 10%;
	width: 27%;
	height: 26%;
}

#window4 {
	top: 60%;
	left: 10%;
	width: 27%;
	height: 26%;
}

#window5 {
	top: 10%;
	left: 40%;
	width: 51%;
	height: 58%;
}

#window6 {
	top: 70%;
	left: 40%;
	width: 40%;
	height: 16%;
}


.floatwindow{
	position: absolute;
	margin: auto;
	border-width: 1.5px;
	border-color: white;
	border-style: solid; 
	border-radius: 4px;
	color: white;
	text-align: center;
	pointer-events: auto;

}
/*
#console {
	width: 35%;
	height: 46%;
}
*/

#w1content {
	text-align: center;
	position: fixed;
	top: 10%;
	left: 12%;
}

#w4content {
	margin: 0;
	overflow: hidden;
	margin-right: 3%;


}

#faceimg {
	margin-top: 0;
}

#consoleText {
	font-size: .6vw;
	text-align: left;

}

#map-canvas{
	height: 100%;
	width: 100%;
	margin: 0;
	z-index: -1;
	
}

#consolefill {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .4;
	pointer-events: auto;
}

.contentfill {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .7;
	pointer-events: auto;
	border-radius: 7px;
}

.consolecontent {
	/*position: relative;*/
	/*text-align: center;*/
	width: 99%;
	height: 94%;
	left: .4%;
	position: absolute;
	border-radius: 7px;


	/*margin-top: 3.5%;*/
	bottom: 2px;
	pointer-events: auto;
}

#cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;

}

#eye {
	width : 99.9%;
	height: 99.9%;
	overflow: hidden;

}

#dna {
	width: 99.9%;
	height: 94%;
	overflow: hidden;
}

#grid {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;

	background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .015) 25%, rgba(255, 255, 255, .015) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .015) 75%, rgba(255, 255, 255, .015) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .015) 25%, rgba(255, 255, 255, .015) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .015) 75%, rgba(255, 255, 255, .015) 76%, transparent 77%, transparent);
	background-size: 100px 100px;
	z-index: 3;

}
#face {
	text-align: left;
}

#dots {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: .4;
	background-image: url(dot.png);
	background-size: 25px 25px;
	z-index: 4;
	background-position: 12px 12px;
	
}



@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.blink {
  animation-name: blink;  
  animation-iteration-count: infinite;  
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: .5s; 
}